.gallery {
  h1 {
    font-size: 4rem;
    color: color(light);
    margin: 2rem 0;
    text-align: center;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: rgba(#000, 0.5);
    width: 100vw;
    height: 100vh;
    padding: 4rem;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 100%;
      width: auto;
    }
  }

  .container {
    padding: 3rem 2rem;
    background-color: color(light2);
  }
}
