.team {
  .page-header {
    font-size: 4rem;
    color: color(light2);
    //margin: 2rem 0;
    padding-top: 2rem;
    text-align: center;
  }

  .content-header {
    text-align: left;
    font-size: 5rem;
    position: relative;
    span {
      color: color(cpr-red);
    }

    &::before {
      position: absolute;
      top: -1rem;
      left: 0;
      width: 3rem;
      height: 0.5rem;
      content: "";
      background-color: color(cpr-blue);
    }
  }

  section {
    // max-width: 800px;
    margin-bottom: 4rem;
    color: color(light2);

    h2 {
      text-align: center;
    }

    .team-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .team-member {
        padding: 1rem;
        width: 10rem;
        height: auto;
        box-sizing: border-box;

        @media (min-width: $break-md) {
          width: calc(99vw / 6);
        }

        > img {
          cursor: pointer;
          margin-bottom: .5rem;
          width: 100%;
          border-radius: 8px;
        }

        &.active > img {
          box-shadow: 0 0 0 .4rem var(--cpr-yellow);
        }

        .icon {
          float: right;
          margin-left: .5rem;

          &.linkedin {
            width: 1.5rem;
          }

          &.github {
            width: 1.3rem;
            top: -.1rem;
            positoin: relative;
          }
        }

        p {
          top: -10px;
        }

        .role {
          font-size: .8rem;
        }
      }
    }

    .description {
      max-width: 90%;
      margin: 2rem auto;

      @media (min-width: $break-md) {
        max-width: 50%;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
  .container {
    padding: 1rem 0;
  }
}

.team--sub-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;

  .sub-header {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: color(cpr-red);
    position: relative;
    text-align: center;
  }

  p {
    color: color(light2);
    font-size: 1.5rem;
    line-height: 1.725rem;
    font-family: $heading-font;
    letter-spacing: 0.16px;
    text-align: center;
  }

}
