.team {
  .page-header {
    background-color: color(light);
    font-size: 4rem;
    color: color(cpr-dark);
    //margin: 2rem 0;
    text-align: center;
  }

  .content-header {
    text-align: left;
    font-size: 5rem;
    position: relative;
    span {
      color: color(cpr-red);
    }

    &::before {
      position: absolute;
      top: -1rem;
      left: 0;
      width: 3rem;
      height: 0.5rem;
      content: "";
      background-color: color(cpr-blue);
    }
  }

  section {
    // max-width: 800px;
    margin-bottom: 4rem;

    h2 {
      text-align: center;
    }

    .team-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .team-member {
        padding: 1rem;
        width: calc(98px + 2rem);
        height: auto;
        box-sizing: border-box;

        img {
          cursor: pointer;
          margin-bottom: .5rem;
          width: 100%;
          border-radius: 8px;
        }

        &.active > img {
          box-shadow: 0 0 0 5px #dbdbdb;
        }

        .icons {
          .linkedin {
            color: #0a66c2;
          }
          svg {
            margin: 5px;
          }
        }
        p {
          top: -10px;
        }
      }
    }

    .description {
      max-width: 600px;
      margin: 0 auto;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .container {
    padding: 3rem 2rem;
    background-color: color(light2);
  }
}

.team--sub-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;

  .sub-header {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: color(cpr-red);
    position: relative;
    text-align: center;
  }

  p {
    color: color(text);
    font-size: 1.5rem;
    line-height: 1.725rem;
    font-family: $heading-font;
    letter-spacing: 0.16px;
    text-align: center;
  }

}
