@import url("https://fonts.googleapis.com/css?family=Alata|IBM+Plex+Sans:400,500|Barlow:600&display=swap");

$font-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$default-font: "IBM Plex Sans", $font-fallback;
$heading-font: 'Alata', $default-font;
$header-item-font: "IBM Plex Sans", $font-fallback;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: 500;
  clear: both;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1.12em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.75em;
}

body,
button,
input,
select,
textarea {
  font-family: $default-font;
  font-weight: 400;
}

body,
p {
  font-size: 1rem;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
